body {
  background-color: #f4ecdd;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background: rgb(252, 141, 131);
  background: linear-gradient(
    180deg,
    rgba(252, 141, 131, 0.75) 1%,
    rgba(254, 155, 117, 0.6) 40%,
    rgba(254, 178, 102, 0.65) 92%
  );
  max-width: 700px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.search-form-input {
  background-color: #ffffff;
  border: none;
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.search-form-button {
  background-color: #ffffff;
  color: #9f1104;
  border: none;
  margin-left: 14px;
  letter-spacing: 0.75px;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 10px;
}

.city {
  font-size: 16px;
  letter-spacing: 2px;
  margin: 6px auto;
  text-transform: uppercase;
  font-weight: bold;
}
.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
}
.current-day {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #9f1104;
}
#temp-container {
  border-radius: 10px;
  padding: 10px 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #ffffff;
  width: 35%;
}
.temperature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.current-temp {
  font-size: 50px;
  font-weight: bolder;
  position: relative;
}

.temp-unit {
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  bottom: 35%;
}

.description {
  margin: 0;
  font-size: 14px;
}
.description::first-letter {
  text-transform: capitalize;
}

.current-weather-icon {
  height: 120px;
}

.current-weather {
  display: flex;
  width: 50%;
  height: 120px;
  justify-content: space-between;
}
.current-weather div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 140px;
}

.detail-title {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9f1104;
  font-weight: normal;
  width: 95%;
  margin: 4px auto;
  padding-bottom: 6px;
  border-bottom: 1px solid #9f1104;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 20px !important;
  color: #9f1104;
  margin-right: 8px;
}

.current-weather p {
  margin-left: 4px;
  font-size: 16px;
  height: 45px;
}

.detail-number {
  font-size: 34px;
}

strong {
  font-weight: 400;
  color: #9f1104;
}

footer {
  margin: 30px auto 0 auto;
  width: 95%;
  font-size: 14px;
  text-align: center;
}

a {
  color: #235666;
}
.forecast {
  display: flex;
  justify-content: space-between;
}
.forecast-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 90px;
  text-align: center;
  margin-top: 20px;
}

.forecast-day {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9f1104;
}

.forecast-temperatures {
  font-size: 13px;
  font-weight: 600;
}
.max-temp {
  margin-right: 4px;
}
.min-temp {
  opacity: 0.65;
}
